:root {
    --dark: #191919;
    --darker: #37474f;
    --accent-dark: #275973;
}

body[design="dark"]{
    background: var(--dark);
    color: white;
}

body[design="dark"] section{
    background: var(--dark) !important;
    color: white;
}

body[design="dark"] header input[type="button"] {
    background: var(--accent);
    border: 2px solid white;
    color: white;
}

body[design="dark"] nav {
    background-color: #1515158c;
    color: white;
}

body[design=dark] nav div#status-controller{
    background: #1515158c;
}

body[design="dark"] nav span#nav-email {
    color: #a9a9a9 !important;
}

body[design="dark"] nav div.nav-item.more {
    background-color: #171717ba;
    border: 1px solid #171717ba;
}

body[design="dark"] section.element,
body[design="dark"] div#wait {
    background: var(--dark);
    color: white;
}

body[design="dark"] aside#related,
body[design="dark"] aside#related ul li a {
    background: var(--darker);
    color: white;
}

body[design="dark"] div.dialog-wrapper {
    background: #0000005c;
}

body[design="dark"] div.dialog-wrapper dialog {
    background-color: var(--dark);
    color: white;
}

body[design="dark"] input[type="text"],
body[design="dark"] input[type="password"],
body[design="dark"] input[type="number"],
body[design="dark"] input[type="email"],
body[design="dark"] input[type="tel"],
body[design="dark"] input[type="date"],
body[design="dark"] input[type="time"],
body[design="dark"] select {
    background-color: var(--darker);
    color: white;
}

body[design=dark] input::placeholder{
    color: rgb(231, 231, 231);
}

body[design="dark"] label {
    font-weight: normal;
}

body[design="dark"] input[type="button"].red-button {
    background-color: var(--darker);
    color: white;
}

body[design="dark"] .nothing-found h1 {
    color: white;
}

body[design=dark] fieldset legend{
    color: white;
}

body[design=dark] .administration main{
    background: var(--accent) !important;
}

body[design=dark] .administration div.wrapper{
    background: var(--dark);
}