body {
    background: #ffffff;
}

div#wait {
    background: #ffffff;
}

nav {
    background: #ffffff8c;
}

div.nav-item.more {
    background: #ffffffba;
    border: 1px solid white;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
select {
    border-bottom-color: #c4c2c2 !important;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="date"]:hover,
input[type="time"]:hover,
select:hover {
    background-color: #e9e9e9;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
select:focus {
    background-color: #e9e9e9;
    border-bottom-color: var(--accent) !important;
}

input[type="button"].red-button {
    background: white;
    border: 2px solid red;
    color: red;
}

main section.element {
    background-color: white;
}

aside#related {
    background: #efecec;
}