div#login-form input:not([type="button"]){
  display: inline-block;
  width: 70%;
  margin: 1em auto;
}

input#password {
  width: calc(70% - 50px) !important;
}

div#login-form input:not([type="button"]):disabled{
  display: none;
}

div#login-form input[type="button"]{
  margin: 2em auto;
  display: block;
}

div#error {
  background: #ce0000;
  color: white;
  padding: 1em;
  margin: 1em 5em;
  border-radius: 10px;
  text-align: left;
  font-size: 1.1em;
}

body[design=dark] div#login-form input:not([type=button]){
  background-color: var(--dark);
} 