#chat footer, #placeholder {
  box-shadow: 0px 0px 20px #00000015;
  padding: 1em;
  margin: 0;
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

#placeholder {
  padding: 3.3em;
}

body[design=dark] #chat footer, body[design=dark] #placeholder {
  background: var(--dark);
  box-shadow: 0px 0px 20px #080808;
}

textarea {
  padding: 1em 10px;
  border: none;
  border-radius: 10px;
  font-size: 1.05em;
  background-color: #e9e9e9;
  color: black;
  width: 100%;
  margin-right: 10px;
  display: block;
  margin-right: 0;
  resize: none;
  max-height: 7em;
}

#chat footer textarea::placeholder{
  color: black;
}

#chat footer input[type="button"] {
  margin-left: 1em;
}

#chat footer input[type="button"]#timed-message {
  background-image: url("../../svg/Timed.svg");
  background-color: white;
  border: 2px solid var(--accent);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px;
  padding: 0em 2em;
}

body[design=dark] #chat footer textarea,
body[design=dark] #chat footer input[type="button"]#timed-message  {
  background-color: var(--darker);
  color: white;
}

@media screen and (max-width: 800px) {
  #chat main section{
    height: calc(100% - 7.8em);
  }

  #chat footer, #placeholder {
    padding: 0;
    margin: 0;
    display: block;
  }

  #chat footer textarea {
    padding: 10px 7px;
    width: calc(100% - 8.5em);
    margin-right: 0;
    display: inline-block;
  }

  #chat footer input[type="button"]#timed-message {
    background-size: 21px;
    padding: 0.7em 1.2em;
    vertical-align: middle;
    display: inline-block;
  }

  #chat footer input[type="button"]{
    
    vertical-align: middle;
  }
}