#notifications {
  margin-top: 3em;
  height: 100%;
  overflow-y: auto;
  height: calc(100vh - 360px);
  padding-bottom: 2em;
}

#notifications *, #add-notification-btn{
  box-sizing: content-box;
}

.notification {
  display: block;
  margin: 1rem 3rem 0 3rem;
  padding: 20px;
  backdrop-filter: blur(3px);
  color: white;
  background: #ffffff1a;
  border-radius: 10px;
  box-shadow: 0 0 20px #0000001a;
}

body[design=dark] .notification{
  background: #00000033;
}

.notification:first-of-type {
  margin-top: 4.5em;
}

.notification .sender {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 5px;
}

.notification .message {
  font-size: 1.1em;
}

#add-notification-btn {
  font-size: 2em;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  text-align: center;
  box-shadow: 0 0 20px #0000001a;
  cursor: pointer;
  transition: 0.2s box-shadow;
}

#add-notification-btn:hover {
  box-shadow: 0 0 20px #0000003f;
  transition: 0.2s box-shadow;
}

.notification#add .message textarea {
  border: none;
  display: block;
  resize: vertical;
  width: calc(100% - 20px);
  margin-top: 1em;
  height: 156px;
  background-color: #ffffff6b;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 10px;
  transition: 0.1s background-color;
}

body[design=dark] .notification#add .message textarea{
  background-color: #3333336b;
  color: white;
}

.notification#add .message textarea:focus {
  background-color: #ffffff;
  transition: 0.1s background-color;
}

#dashboard input[type="button"]#commit-notification {
  display: block;
  margin: 2em auto 0 auto;
  background: #ffffff;
  color: var(--accent);
  font-size: 1em;
}

#dashboard .close-notification {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 4px;
  background-color: transparent;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  cursor: pointer;
  text-align: center;
  transition: 0.2s background-color;
}

#dashboard .close-notification:hover {
  background-color: #ff000088;
  transition: 0.2s background-color;
}

@media screen and (max-width: 800px) {
  .notification {
    margin: 1rem 1rem 0 1rem;
  }
}