#nav-wrapper {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(7px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  display: none;
  transition: 0.5s;
}

nav {
  position: fixed;
  top: 50%;
  left: 50%;
  bottom: unset;
  transform: translate(-50%, -50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 20px;
  box-shadow: 0 0 10px #00000030;
  text-align: center;
  font-size: 1.1em;
  cursor: default;
  width: 650px;
  z-index: 3;
}

nav *{
  box-sizing: content-box;
}

nav a{
  text-decoration: none;
}

div#nav-top {
  background: var(--accent);
  padding: 10px 0 2px 0;
  margin-bottom: 2em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

body[design=dark] div#nav-top{
  background: var(--accent-dark);
}

div#nav-bottom {
  margin-top: 2em;
}

div#nav-top,
div#nav-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div#nav-top div {
  border-radius: 0;
  padding-bottom: 8px;
}

div#nav-top div.active {
  border-bottom: 2px solid white;
}

nav.big {
  bottom: 0;
  transition: 0.7s bottom ease-in-out;
}

div#nav-top {
  overflow-y: hidden;
}

div#nav-top div.nav-item span {
  transform: translateY(5px);
  transition: 0.5s;
  display: block;
  color: white;
  font-size: 0.7em;
}

div#nav-top div.nav-item svg {
  transition: 0.5s;
}

div#nav-top div.nav-item:hover svg {
  transform: translateY(-50px);
}

nav.big div#nav-top div.nav-item#nav-more:hover svg {
  transform: translateY(-50px) rotate(180deg);
}

div#nav-top div.nav-item:hover span {
  transform: translateY(-30px);
}

#nav-more svg {
  transform: rotate(0deg);
}

nav.big div#nav-more svg {
  transform: rotate(180deg);
}

div.nav-item {
  border-radius: 3px;
  padding: 5px;
  height: 32px;
  width: 70px;
  margin: 0 5px;
  transform: scale(1.1);
  cursor: pointer;
}

div#nav-bottom div.nav-item {
  transform: scale(1.5);
  margin: 20px 30px 20px 30px;
  transition: 0.2s transform;
  box-shadow: 0 0 5px 0px #0000001a;
  border: 1px solid white;
  padding: 12px 17px 23px 17px;
  font-size: 0.6em;
  background: white;
}

div#nav-bottom div.nav-item span{
  display: block;
  color: black;
}

div#nav-bottom div.nav-item.active {
  border: 1px solid var(--accent);
}

div#nav-bottom div.nav-item:hover {
  transform: scale(1.55);
}

div.break {
  flex-basis: 100%;
  height: 0;
  width: 0;
  transform: none;
  opacity: 0;
  cursor: default;
  margin: 10px;
}

#mobile-title{
  display: none;
  position: absolute;
  top: 16px;
  right: 0.5em;
  color: white;
  font-size: 1.7em;
}


@media screen and (max-width: 800px) {
  div#openmenu {
    display: block;
  }
  nav {
    display: block;
    bottom: 0;
    top: 0;
    left: 0;
    transform: none;
    border-radius: 0;
    backdrop-filter: none;
    box-shadow: none;
    width: 100%;
    overflow-y: auto;
    background-color: white;
  }
  div#nav-top {
      display: block;
      border-radius: 0;
      padding: 4.5em 0 0px 0;
  }
  div#nav-top div {
      margin-bottom: 1em;
      display: inline-block;
      height: unset;
  }
  div.nav-item#nav-more {
      display: none;
  }
  div#nav-bottom div.break {
      display: none;
  }
  div#nav-top div.nav-item:hover svg,
  div#nav-top div.nav-item:hover span,
  div#nav-top div.nav-item span {
      transform: none;
  }

  #mobile-title{
    display: block;
  }
}