div#show-password{
  cursor: pointer;
  border-radius: 100%;
  padding: 5px;
  margin-left: 10px;
  vertical-align: middle;
  background-color: transparent;
  transition: 0.2s background-color;
  display: inline-block;
}

div#show-password:hover{
  background-color: #eeeeee;
  transition: 0.2s background-color;
}

body[design=dark] div#show-password:hover{
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.2s background-color;
}