main section.element {
  text-align: left;
  border: 1px solid var(--accent);
  box-shadow: 0px 0px 10px #0000001e;
  padding: 1em 1em 0 1em;
  border-radius: 10px;
  width: auto;
  margin: 1em;
  font-size: 0.95em;
  z-index: auto;
  width: 330px;
}

main section.element h2 {
  text-align: left;
  margin: 0 0 1em 0;
}

main section.element input[type="button"] {
  margin: 1em auto 1em auto;
  display: block;
  box-shadow: 0px 0px 10px #0000001e;
}

div.details-wrapper {
  display: table;
}

div.details-wrapper div {
  display: table-row;
  padding: 5px 0;
}

div.details-wrapper span:nth-of-type(odd) {
  font-weight: bold;
  display: table-cell;
  padding: 2px 0;
}

div.details-wrapper span:nth-of-type(even) {
  padding-left: 10px;
}