@media screen and (min-width: 801px) {

  .administration nav {
    position: fixed;
    top: unset;
    bottom: -251px;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(3px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px #00000030;
    text-align: center;
    font-size: 1.1em;
    cursor: default;
    width: 550px;
    transition: 0.7s bottom ease-in-out;
    z-index: 5;
  }

  .administration nav *{
    box-sizing: content-box;
  }

  .administration nav a{
    text-decoration: none;
  }

  .administration div#nav-top {
    background: var(--accent);
    padding: 10px 0 2px 0;
    margin-bottom: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .administration div#nav-bottom {
    margin-top: 2em;
  }

  .administration div#nav-top,
  .administration div#nav-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .administration div#nav-top div {
    border-radius: 0;
    padding-bottom: 8px;
  }

  .administration div#nav-top div.active {
    border-bottom: 2px solid white;
  }

  .administration nav.big {
    bottom: 0;
    transition: 0.7s bottom ease-in-out;
  }

  .administration div#nav-top {
    overflow-y: hidden;
  }

  .administration div#nav-top div.nav-item span {
    transform: translateY(5px);
    transition: 0.5s;
    display: block;
    color: white;
    font-size: 0.7em;
  }

  .administration div#nav-top div.nav-item img {
    transition: 0.5s;
  }

  .administration div#nav-top div.nav-item:hover img {
    transform: translateY(-50px);
  }

  .administration nav.big div#nav-top div.nav-item#nav-more:hover img {
    transform: translateY(-50px) rotate(180deg);
  }

  .administration div#nav-top div.nav-item:hover span {
    transform: translateY(-30px);
  }

  .administration #nav-more img {
    transform: rotate(0deg);
  }

  .administration nav.big div#nav-more img {
    transform: rotate(180deg);
  }

  .administration div.nav-item {
    border-radius: 3px;
    padding: 5px;
    height: 32px;
    width: 70px;
    margin: 0 5px;
    transform: scale(1.1);
    cursor: pointer;
  }

  .administration div#nav-bottom div.nav-item {
    transform: scale(1.5);
    margin: 20px 30px 20px 30px;
    transition: 0.2s transform;
    box-shadow: 0 0 5px 0px #0000001a;
    border: 1px solid white;
    padding: 12px 17px 23px 17px;
    font-size: 0.6em;
    background: white;
  }

  .administration div#nav-bottom div.nav-item span{
    display: block;
    color: black;
  }

  .administration div#nav-bottom div.nav-item:hover {
    transform: scale(1.55);
  }

  .administration div.break {
    flex-basis: 100%;
    height: 0;
    width: 0;
    transform: none;
    opacity: 0;
    cursor: default;
    margin: 10px;
  }
}

body[design=dark] .administration div#nav-bottom div.nav-item{
  background: var(--darker);
  border-color: var(--dark);
}

body[design=dark] .administration div#nav-bottom div.nav-item span{
  color: white;
}

.administration div#nav-bottom div.nav-item.active,
body[design=dark] .administration div#nav-bottom div.nav-item.active {
  border: 1px solid var(--accent);
}

@media screen and (max-width: 800px) {
  
  .administration nav{
    display: none;
  }
  
}