div.dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: #ffffff5c;
  z-index: 2;
  display: block;
}

div.dialog-wrapper dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1200px;
  width: 50%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #0000001b;
  margin: 0;
  padding: 0 2em 1em 2em;
  background-color: white;
  border: none;
  overflow-y: auto;
}

div.dialog-wrapper dialog.big {
  width: 90%;
}

div.dialog-wrapper dialog.fullScreen {
  width: 80%;
  max-width: unset;
  height: 90%;
  max-height: unset;
}

.close-dialog {
  position: absolute;
  right: 13px;
  top: 0px;
  padding: 8px 8px 10px 8px;
  background-color: transparent;
  width: 15px;
  height: 15px;
  cursor: pointer;
  text-align: center;
  border: 2px solid transparent;
  font-weight: bold;
  transition: 0.2s color;
}

.close-dialog:hover {
  transition: 0.2s color;
  color: red;
}

dialog input[type="text"].big,
dialog input[type="password"].big,
dialog input[type="number"].big,
dialog input[type="email"].big,
dialog input[type="tel"].big,
dialog input[type="date"].big,
dialog input[type="time"].big,
dialog select.big {
  width: 50%;
}

dialog input[type="text"].big,
dialog input[type="password"].big,
dialog input[type="number"].big,
dialog input[type="email"].big,
dialog input[type="tel"].big,
dialog input[type="date"].big,
dialog input[type="time"].big,
dialog select.big,
dialog input[type="text"].big,
dialog input[type="password"].big,
dialog input[type="number"].big,
dialog input[type="email"].big,
dialog input[type="tel"].big,
dialog input[type="date"].big,
dialog input[type="time"].big,
dialog select.big{
  width: 95%;
}


@media screen and (max-width: 800px) {
  div.dialog-wrapper dialog {
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    max-width: unset !important;
    max-height: unset !important;
    transform: none;
    border-radius: 0;
    padding: 0 1em 1em 1em;
  }

  dialog input[type="text"],
  dialog input[type="password"],
  dialog input[type="number"],
  dialog input[type="email"],
  dialog input[type="tel"],
  dialog input[type="date"],
  dialog input[type="time"]{
    display: block;
    width: 90% !important;
  }

  dialog input[type="button"] {
    display: block;
    margin-bottom: 1em;
  }

  label {
    margin-left: 0.5em;
    width: 100%;
    text-align: left;
  }
}