#dashboard{
  position: absolute;
  height: 100%;
  background: var(--accent);
  width: 100%;
}

body[design=dark] #dashboard{
  background: var(--accent-dark);
}

#dashboard aside {
  height: 100%;
  max-width: 600px;
  width: 30%;
  background: var(--accent);
  position: fixed;
  left: 0;
  font-size: 0.8em;
}

body[design=dark] #dashboard aside{
  background: var(--accent-dark);
}

#dashboard aside svg {
  display: none;
}

#dashboard aside #content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#dashboard main {
  display: block;
  margin: 0;
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding: 1em 3em 0 3em;
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: white;
  border: 2px solid var(--accent);
  border-right: none;
}

body[design=dark] #dashboard main {
  border-color: var(--accent-dark);
  background: var(--dark) !important;
}

#dashboard main section {
  background-color: white;
  border-radius: 0;
  padding: 1em 0 0 0;
}

#dashboard input[type="button"] {
  font-size: 0.85em;
  margin: 0 1em;
}

#dashboard dialog.fullScreen input:not([type="button"]){
  width: 30% !important;
}

@media screen and (max-width: 800px) {
  #dashboard aside {
    width: 100%;
    border-radius: 0;
  }
  #dashboard aside svg {
    display: block;
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.3);
  }
  #dashboard aside svg:hover {
    box-shadow: 0px 0px 10px #00000042;
    border-radius: 100%;
  }
  #dashboard main {
    display: table;
    top: 100%;
    left: 0;
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0;
    border: none;
    overflow-y: visible;
  }
  #dashboard section:nth-of-type(2) br {
    display: none;
  }
  #dashboard section input[type="button"] {
    display: block;
    margin: 1em auto;
  }
  #dashboard section input[type="button"].link-logout {
    margin: 0 auto;
  }
  #dashboard #menu .link {
    flex: unset;
    padding: 15px 10px;
  }
  #dashboard #menu .link svg {
    margin-right: 1em;
  }
  #server-ipv6 {
    font-size: 0.8em;
  }
}