#blur-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(3px);
  background: #ffffff3b;
}

body[design=dark] #blur-bg{
  background: #0000003b;
}

aside.overlay {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
  background: var(--accent);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 2em;
  height: 80%;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  transition: 0.7s left ease-in-out;
}

aside.overlay:not([open]) {
  left: -500px;
}

body[design=dark] aside.overlay{
  background: var(--accent-dark);
}

aside.overlay[open]{
  left: 0;
  transition: 0.7s left ease-in-out;
}

aside.overlay * {
  flex-grow: 1;
}

aside.overlay h1 {
  color: white;
  font-size: 2em;
  margin-top: 0;
}

aside.overlay canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

aside.overlay span#close {
  position: absolute;
  top: 10px;
  right: 20px;
  backdrop-filter: blur(3px);
  color: white;
  background: #ffffff38;
  border-radius: 100%;
  padding: 5px;
  width: 32px;
  height: 32px;
  text-align: center;
  cursor: pointer;
}

#search-bar {
  display: flex;
  flex-grow: 0;
  border-color: #ffffff52;
  padding-bottom: 1em;
}

#search-bar legend {
  color: white;
}

#search,
#search-btn {
  margin: 1rem 0rem 0 0.5rem;
  padding: 15px 20px;
  backdrop-filter: blur(3px);
  color: white;
  background: #ffffff1a;
  border-radius: 20px;
  border: none;
}

#search::placeholder {
  color: white;
}


@media screen and (max-width: 800px) {
  aside.overlay{
    top: 0;
    height: 100%;
    width: 100%;
    transform: none;
    border-radius: 0;
  }

  aside.overlay[open]{
    left: 0;
  }

  #search-bar {
    display: block;
  }
}