header {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--accent);
  padding: 0.7em 0;
  width: 100%;
  text-align: right;
  height: 4em;
}

header input[type="button"] {
  background: white;
  margin: 0 2em 0 0;
  color: var(--accent);
}

header h1 {
  margin: 12px 0 15px 30px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}

header[menu] h1{
  padding-left: 1em;
}

.small-action-bar, header svg {
  display: none;
}

@media screen and (max-width: 800px) {
  header {
    padding: 10px 0 15px 0;
  }
  header input[type="button"] {
    display: none;
  }
  header h1 {
    margin: 0;
    position: static;
  }

  .small-action-bar, header svg {
    display: block;
  }

  header svg {
    position: absolute;
    top: 20px;
    right: 20px;
    transform: scale(2);
  }

  .small-action-bar{
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5em;
    box-shadow: 0px 0px 20px #c5c5c5;
    border: 1px solid var(--accent);
  }

  .small-action-bar input[type="button"] {
    margin: 1em 0;
  }
}