#secure-message-content {
  width: 100%;
  margin: 0;
}

#encryption-information {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1em 0;
}

#encryption-information div {
  margin: 1em;
  flex-basis: 40%;
}

#encryption-warning {
  color: var(--orange);
  font-weight: bold;
}

#security-number {
  flex-basis: 100%;
}

#security-number code {
  font-family: monospace;
  font-size: 1.1em;
  display: block;
}

aside div#employee-list {
  overflow-y: auto;
}

aside div div.employee-item {
  display: block;
  margin: 1rem 1rem 0 1rem;
  padding: 25px;
  backdrop-filter: blur(3px);
  color: white;
  background: #ffffff1a;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.2em;
}

aside div.employee-item[active] {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0px 0px 20px #00000038;
  font-weight: bold;
}