div#openmenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 4;
  padding: 16px 12px;
}

div#openmenu[always] {
  display: block;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 10px;
  margin: 5px 0;
  transition: 0.4s transform, opacity;
}

div#openmenu[open] .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

div#openmenu[open] .bar2 {
  opacity: 0;
}

div#openmenu[open] .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}


@media screen and (max-width: 800px) {
  div#openmenu {
    display: block;
    z-index: 6;
  }
}