#chat{
  height: 100%;
  background: var(--accent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

div#chat-list {
  overflow-y: auto;
}

div.chat-item {
  display: block;
  margin: 1rem 1rem 0 1rem;
  padding: 20px;
  backdrop-filter: blur(3px);
  color: white;
  background: #ffffff1a;
  border-radius: 20px;
  cursor: pointer;
}

div.chat-item strong {
  margin: 5px 0;
  display: block;
  font-size: 1.2em;
}

div.chat-item[unread] {
  font-weight: bold;
  box-shadow: 0px 0px 20px #0000001f;
  animation: unread-animation 0.3s ease-in-out infinite alternate;
  transform: rotate(-1deg);
  margin: 2rem 1rem;
}

div.chat-item[unread]:nth-of-type(2) {
  animation-delay: 0.3s;
}

@keyframes unread-animation {
  0% {
      transform: rotate(-1deg);
  }

  100% {
      transform: rotate(1deg);
  }
}

div.chat-item[active] {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0px 0px 20px #00000038;
  font-weight: bold;
}

#show-pin-dialog{
  background-image: url("../../../svg/Pin.svg");
  background-color: white;
  border: 2px solid var(--accent);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}