div.member-list {
  overflow-y: auto;
  max-height: 300px;
  display: flex;
  flex-wrap: wrap;
}

div.member-list-item {
  flex-basis: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  border-radius: 10px;
  background-color: #ececec;
  padding: 0.7em 2em;
  cursor: pointer;
}

body[design=dark] div.member-list-item {
  background-color: var(--darker);
}

div.member-list-item img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

div.member-list-item:not(.no-remove)::after{
  content: "Entfernen";
  color:#ececec;
  transition: 0.2s;
}

div.member-list-item:not(.no-remove):hover::after {
  color: red;
  transition: 0.2s;
}