#current-time{
  font-size: 70pt;
  color: white;
  padding: 2rem 0 0 3rem;
  background: transparent;
}

#current-date{
  font-size: 30pt;
  color: white;
  padding: 2rem 0 0 3rem;
  background: transparent;
}