div#status-controller {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

#dashboard div#status-controller {
  font-size: 1em;
}

div.status-item {
  padding: 0.5em 1em;
  border-top: 1px solid #ffa000;
  border-left: 1px solid #ffa000;
  border-bottom: 1px solid #ffa000;
  color: #ffa000;
  cursor: pointer;
}

div.status-item:first-of-type {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-left-color: #9e9d24;
  border-top-color: #9e9d24;
  border-bottom-color: #9e9d24;
  color: #9e9d24;
}

div.status-item:last-of-type {
  border-right: 1px solid var(--orange);
  border-top-color: var(--orange);
  border-bottom-color: var(--orange);
  color: var(--orange);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

div#status-controller[active="1"] div.status-item:first-of-type,
div.status-item:first-of-type:hover {
  background: #9e9d24;
  color: white;
}

div#status-controller[active="2"] div.status-item:nth-of-type(2),
div.status-item:nth-of-type(2):hover {
  background: #ffa000;
  color: white;
}

div#status-controller[active="3"] div.status-item:last-of-type,
div.status-item:last-of-type:hover {
  background: var(--orange);
  color: white;
}