div#wait {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

div#wait div {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  grid-template-rows: repeat(2, 50px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#wait h1 {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--accent);
}

div#wait div span {
  display: block;
  animation: loading 1s infinite;
  background: var(--accent);
  opacity: 0%;
}

div#wait div span:nth-child(1) {
  animation-delay: 0.75s;
}

div#wait div span:nth-child(2) {
  animation-delay: 0.5s;
}

div#wait div span:nth-child(3) {
  animation-delay: 0s;
}

div#wait div span:nth-child(4) {
  animation-delay: 0.25s;
}

@keyframes loading {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}


@media screen and (max-width: 800px) {
  div#wait h1 {
    bottom: 0;
  }
}