main#grid-layout{
  background: var(--accent);
}

body[design=dark] main#grid-layout{
  background: var(--accent-dark) !important;
}

main#grid-layout section:first-of-type{
  border-radius: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0 !important;
  padding: 0 !important;
  background: var(--accent);
}

main#grid-layout section:first-of-type div#title {
  background: transparent;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 20px #0000001a;
  padding: 2em 0;
  color: white;
}

main#grid-layout section:first-of-type div#title h1{
  font-size: 6vw; 
  margin: 0;
  color: white;
}

main#grid-layout section:first-of-type div#title h2{
  font-size: 1.5vw;
  text-transform: uppercase;
  color: white;
  margin-top: 0;
}

body[design=dark] main#grid-layout section:first-of-type{
  background: var(--accent-dark) !important;
}