div.switch {
  display: flex;
  justify-content: center;
}

div.switch div {
  cursor: pointer;
  padding: 0.5em 1em;
  border-top: 1px solid #9e9d24;
  border-left: 1px solid #9e9d24;
  border-bottom: 1px solid #9e9d24;
}

div.switch div:first-of-type {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

div.switch div:last-of-type {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: 1px solid var(--orange);
  border-top-color: var(--orange);
  border-bottom-color: var(--orange);
}

div.switch div:first-of-type:hover,
div.switch[yes] div:first-of-type {
  background: #9e9d24;
  color: white;
}

div.switch div:last-of-type:hover,
div.switch:not([yes]) div:last-of-type {
  background: var(--orange);
  color: white;
}

fieldset {
  border: 1px solid var(--accent);
  padding: 0.5em 1em;
}

fieldset legend {
  text-align: left;
}