aside#related {
  position: fixed;
  right: 10px;
  top: 15%;
  bottom: auto;
  padding: 1em 4em 1em 2em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 20px #0000001a;
  font-size: 0.9em;
}

aside#related ul {
  padding: 0;
}

aside#related ul li {
  list-style: none;
  margin: 7px 0;
}

aside#related ul li a {
  color: black;
  text-decoration: none;
}


@media screen and (max-width: 800px) {
  aside#related {
    display: none;
  }
}