#dashboard #menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#dashboard #menu .link {
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 5px;
  transition: 0.2s border;
  font-weight: bold;
  margin-top: 2em;
  text-decoration: none;
  color: black;
}

#dashboard #menu .link:hover {
  border: 2px solid #f1f1f1;
  transition: 0.1s border;
}

#dashboard #menu .link svg {
  transform: scale(1.4);
  margin-right: 3em;
}

body[design=dark] #dashboard #menu .link{
  border-color: var(--dark);
  color: white;
  font-weight: normal;
}

body[design=dark] #dashboard #menu .link:hover{
  border-color: var(--darker);
}

@media screen and (max-width: 800px) {
  #dashboard #menu{
    display: block;
  }
}