body main#grid-layout {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
}

body main#grid-layout section:last-of-type {
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50.5%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid-content-wrapper{
  width: 100%;
}

h1#grid-title{
  font-size: 2.5em;
}


@media screen and (max-width: 800px) {
  body main#grid-layout section:first-of-type{
    display: none;
  }

  body main#grid-layout section:last-of-type{
    width: 100%;
    top: 0%;
    left: 0%;
    transform: none;
  }
}