main div#content-wrapper {
  text-align: center;
  padding: 3em 0.8em 1.5em 0.8em;
  margin-top: 3.1em;
  font-size: 1.3em;
  background: white;
  height: calc(100vh - 3.1em);
  overflow-y: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

body[design=dark] main div#content-wrapper{
  background: var(--dark);
}

main div#content-wrapper h1 {
  font-size: 2em;
  margin-bottom: 5px;
  letter-spacing: 10px;
}

img#profile-image {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  box-shadow: 0px 0px 20px #dfdfdf;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body[design=dark] img#profile-image {
  box-shadow: 0px 0px 20px black;
}

div#uid {
  color: #6b6b6b;
  margin-bottom: 1em;
}

div#uid::before {
  content: "@";
}

div#status-note::before {
  content: "» ";
}

div#status-note::after {
  content: " «";
}

div#status-controller {
  display: flex;
  justify-content: center;
  margin: 2em 0;
  font-size: 0.8em;
}

div#action-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1em;
}

img#profile-image{
  transition: 0.2s box-shadow;
}

img#profile-image:hover {
  transition: 0.2s box-shadow;
}

img#profile-image[status="0"]:hover {
  box-shadow: 0px 0px 30px #00000042;
}

img#profile-image[status="1"]:hover {
  box-shadow: 0px 0px 30px var(--green-transparent);
}

img#profile-image[status="2"]:hover {
  box-shadow: 0px 0px 30px var(--yellow-transparent);
}

img#profile-image[status="3"]:hover {
  box-shadow: 0px 0px 30px var(--orange-transparent);
}

#profile label{
  text-align: left;
  margin: 0;
}


@media screen and (max-width: 800px) {
  div#action-wrapper {
    display: block;
  }

  div#action-wrapper fieldset {
    margin-top: 2em;
  }
}