#secure-chat fieldset {
  display: flex;
  flex-wrap: wrap;
  margin-right: 3em;
}

div.secure-chat-item {
  display: flex;
  justify-content: space-around;
  flex-basis: 30%;
  margin: 1em;
  border-radius: 10px;
  background-color: #ececec;
  padding: 0.7em 2em;
  cursor: pointer;
}

div.secure-chat-item::before {
  content: "( "attr(count) " )";
  font-weight: bold;
}

div.secure-chat-item::after {
  content: "Öffnen";
  color: #ececec;
}

div.secure-chat-item:hover::after {
  color: #9e9d24;
}