﻿:root {
  --accent: #4e7d96;
  --green: #9e9d24;
  --yellow: #ffa000;
  --orange: #f35322;

  --accent-transparent: #4e7d9698;
  --green-transparent: #9e9d2498;
  --yellow-transparent: #ffa20073;
  --orange-transparent: #f353227c;
}