﻿@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  src: url('../raleway.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: normal;
  src: url('../raleway-italic.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  src: url('../raleway-bold.ttf');
}