@media print{
  dialog,
  .dialog-wrapper,
  aside,
  #blur-bg, 
  .open-side,
  nav, 
  #nav-wrapper,
  input[type="button"], 
  .nothing-found,
  #error-msg,
  #wait,
  footer,
  fieldset,
  main#grid-layout section:first-of-type {
    display: none !important;
  }

  div#login-form input[type="button"] {
    display: block !important;
    color: black !important;
    border: 2px solid var(--orange);
  }

  main#grid-layout section:last-of-type {
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
  }

  header h1 {
    color: var(--accent) !important;
  }

  header {
    background-color: white !important;
  }

  section.element {
    padding-bottom: 1em !important;
    box-shadow: none !important;
    border-color: black !important;
    width: auto !important;
  }

  div.wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  a {
    color: black !important;
    text-decoration: none !important;
  }

  div.bubble {
    background: white !important;
    color: black !important;
    border: 2px solid var(--accent) !important;
  }

  div.container[me] div.bubble {
    border: 2px solid var(--orange) !important;
  }

  #dashboard main {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    border-radius: 0 !important;
    border: none !important;
  }

  section#secure-chat fieldset {
    display: flex !important;
  }
}