* {
  font-family: 'Raleway', 'Arial', sans-serif;
  outline: none;
  box-sizing: border-box;
}

body {
  margin: 0em;
  padding: 0em;
  width: 100%;
  height: 100%;
  z-index: -2;
}

h1 {
  color: var(--accent);
  text-align: center;
  font-weight: normal;
}

h2 {
  font-weight: 100;
  text-align: center;
}

label {
  font-weight: bold;
  width: 13%;
  display: inline-block;
  text-align: right;
  padding-right: 0.5em;
  margin-left: 2em
}

label.big{
  width: 15%;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
select {
  border: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  font-size: 1.2em;
  margin: 0.7rem;
  padding: 10px;
  font-family: 'Raleway', 'Arial', sans-serif;
  width: 13em;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
  outline: none;
  transition: 0.3s border-bottom-color;
  border-bottom-color: var(--accent);
  cursor: text;
}

/* File input */
input[type="file"] {
  width: 80%;
}

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
input[type="file"]::before {
  content: 'Bitte ein Bild auswählen';
  display: inline-block;
  background: var(--orange);
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
}

select:focus {
  cursor: default;
}

input[disabled],
input[readonly] {
  cursor: no-drop;
}

input[type="button"][disabled] {
  border: 2px solid var(--accent);
}

input[type="button"].red-button {
  border: 2px solid red;
  color: red;
}

a {
  color: var(--orange);
  cursor: pointer;
}

a.Button,
input[type="button"],
input[type="submit"] {
  font-family: 'Raleway', 'Arial', sans-serif;
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background: var(--orange);
  color: white;
  padding: 0.8em 1em;
  border-radius: 1.5em;
}

main {
  background: var(--accent);
  width: 100%;
}

div.wrapper{
  margin: 4em 0 0 0;
  padding: 1em 18em 5em 2em;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  background: white;
  display: flex;
  flex-wrap: wrap;
  max-height: calc(100vh - 4.1em + 2px);
  overflow-y: auto;
}

fieldset {
  border: 2px solid var(--accent);
  border-radius: 10px;
  margin: 0;
}

fieldset legend {
  color: var(--accent);
  font-size: 1.5em;
}

.open-side{
  position: fixed;
  top: 50%;
  left: 0;
  background: var(--orange);
  box-shadow: 0px 0px 20px #00000028;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  padding: 1.4em 1.7em 1.4em 1.4em;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  div.wrapper {
    padding: 1em 0 0 0.5em;
  }
}