svg .fill {
  fill: var(--accent);
  stroke: none;
}

svg .stroke {
  stroke: var(--accent);
  fill: none;
}

.orange svg .fill {
  fill: var(--orange);
  stroke: none;
}

.orange svg .stroke {
  stroke: var(--orange);
  fill: none;
}

#nav-top svg .fill {
  fill: white;
  stroke: none;
}

#nav-top svg .stroke {
  stroke: white;
  fill: none;
}

#nav-top #employee-background {
  fill: var(--accent) !important;
}

body[design="dark"] #employee-background {
  fill: var(--dark) !important;
}