#dashboard table {
  width: auto;
}

#dashboard td {
  padding: 5px 10px;
}

#dashboard td:first-of-type {
  text-align: right;
  font-weight: bold;
}

#dashboard td:last-of-type {
  text-align: left;
}

#dashboard #infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 1em;
}

#dashboard #infos article{
  flex-basis: 30%;
}


@media screen and (max-width: 800px) {
  #dashboard #infos {
    display: block;
  }
}