div#status {
  border: 2px solid;
  border-radius: 30px;
  margin: 1em 0 0.6em 0;
  padding: 5px 10px 7px 10px;
  display: inline-block;
  cursor: default;
}

div#status::before {
  content: "⬤ ";
  margin-right: 10px;
}

div#status[status="1"] {
  border-color: var(--green);
}

div#status[status="1"]::before {
  color: var(--green);
}

div#status[status="2"] {
  border-color: var(--yellow);
}

div#status[status="2"]::before {
  color: var(--yellow);
}

div#status[status="3"] {
  border-color: var(--orange);
}

div#status[status="3"]::before {
  color: var(--orange);
}