#error-hover-effect:before{
  font-family: monospace;
  content: "ERROR";
  animation: errorcode 1s infinite;
}

@keyframes errorcode {
  0% {
    content: "ERROR";
  }
  50% {
    content: "ER4O4";
  }
  100% {
    content: "ERROR";
  }
}

input[type="button"]{
  margin: 0 1em;
}

p{
  margin: 2em;
}