div.properties {
  margin-top: 10px;
}

div.properties::before {
  content: attr(title) ": ";
  margin-right: 5px;
  width: 0;
  height: 1.2em;
  display: inline-block;
  transition: 0.2s;
  overflow: hidden;
  vertical-align: bottom;
  opacity: 0;
  font-weight: bold;
}

.properties:hover::before {
  width: 5em;
  transition: 0.5s;
  opacity: 1;
}