div#error-msg {
  text-align: left;
  border-radius: 5px;
  backdrop-filter: blur(2px);
  background: #ff0000b6;
  color: white;
  position: fixed;
  top: 1em;
  right: 1em;
  padding: 1em 4em 1em 1.5em;
  z-index: 10;
  min-width: 11em;
}

div#error-msg[mode="warn"] {
  background: #ffa500d1;
}

div#error-msg h2 {
  text-align: left;
  color: white;
  margin: 0 0 0.5em 0;
  font-weight: bold;
}

div#error-msg span#details {
  font-style: italic;
}

div#error-msg span#close-msg {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

body[design=dark] div#error-msg {
  background: #ff000073;
}

#symbol-wrapper {
  width: 40px;
  height: 42px;
  transition: 250ms ease;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

#symbol-wrapper div {
  transition: 250ms ease;
}

#symbol-wrapper div:first-of-type {
  width: 4px;
  height: 20px;
  background-color: white;
  border-radius: 2px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
}

#symbol-wrapper div:last-of-type {
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
}

div#error-msg:hover #symbol-wrapper div:first-of-type {
  height: 20px;
  transform: translateX(calc(-50% + 4px))
    rotate(45deg)
    translateY(3px);
}

div#error-msg:hover #symbol-wrapper div:last-of-type {
  height: 20px;
  transform: translateX(calc(-50% + 8px))
    rotate(-45deg)
    translateY(-8px);
}