.nothing-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nothing-found h1 {
  color: black;
  font-size: 1.8em;
}

.nothing-found div {
  margin-bottom: 5em;
}

.nothing-found div svg {
  transform: scale(4);
  margin: 0 auto;
  display: block;
}