#chat main section {
  background: white;
  height: calc(100% - 9.5em);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 2em;
  padding-bottom: 3em;
  margin-top: 4em;
  margin-bottom: 7em;
  position: absolute;
  width: 100%;
  overflow-y: auto;
}

main div.container {
  padding: 0 3em;
  display: flex;
  align-items: center;
}

main div.container div.star {
  font-size: 1.5em;
  color: var(--accent);
  cursor: pointer;
}

div.bubble {
  margin: 1em;
  padding: 1em;
  border-radius: 15px;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  color: white;
  vertical-align: middle;
}

div.bubble pre {
  margin: 0;
}

div.container:not([me]) div.bubble {
  border-bottom-left-radius: 0px;
  border: 2px solid var(--accent);
  background: white;
  color: black;
}

body[design="dark"] div.container:not([me]) div.bubble {
  background: var(--dark);
  color: white;
}

div.container[me] div.bubble {
  border-bottom-right-radius: 0px;
  margin-right: 0;
  border: none;
  background: var(--accent);
}

main div.container[me] {
  justify-content: flex-end;
}

div.bubble h2 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  margin-top: 0;
}


@media screen and (max-width: 800px) {
  main div.container{
    padding: 0 1em;
  }
}