span.checkable {
  background-color: white;
  border: 2px solid;
  transition: 0.2s background-color;
  cursor: pointer;
  display: inline-block;
  padding: 0.8em 1em;
  border-radius: 1.5em;
  font-size: 0.9em;
  margin: 0 10px;
  text-align: center;
}

body[design="dark"] span.checkable {
  background-color: var(--darker);
  color: white !important;
}