:root {
  --accent: #4e7d96;
  --green: #9e9d24;
  --yellow: #ffa000;
  --orange: #f35322;

  --accent-transparent: #4e7d9698;
  --green-transparent: #9e9d2498;
  --yellow-transparent: #ffa20073;
  --orange-transparent: #f353227c;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway'), local('Raleway'), url('/font.ttf') format('truetype')
}

* {
  font-family: 'Raleway', 'Arial', sans-serif;
  outline: none;
  box-sizing: border-box;
}

body {
  margin: 0em;
  padding: 0em;
  width: 100%;
  height: 100%;
  z-index: -2;
}

h1 {
  color: var(--orange);
  text-align: center;
  font-weight: normal;
}

h2 {
  font-weight: 100;
  text-align: center;
}

body main#grid-layout {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
}

body main#grid-layout section:last-of-type {
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50.5%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid-content-wrapper{
  width: 100%;
}

h1#grid-title{
  font-size: 2.5em;
}

main#grid-layout{
  background: var(--accent);
}

main#grid-layout section:first-of-type{
  border-radius: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0 !important;
  padding: 0 !important;
  background: var(--accent);
}

main#grid-layout section:first-of-type div#title {
  background: transparent;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 20px #0000001a;
  padding: 2em 0;
  color: white;
}

main#grid-layout section:first-of-type div#title h1{
  font-size: 6vw; 
  margin: 0;
  color: white;
}

main#grid-layout section:first-of-type div#title h2{
  font-size: 2vw;
  text-transform: uppercase;
  color: white;
}

input[type="button"] {
  font-family: 'Raleway', 'Arial', sans-serif;
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background: var(--orange);
  color: white;
  border: none;
  padding: 0.8em 1em;
  border-radius: 1.5em;
}

div#particles-js{
  position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#grid-layout div#particles-js{
  z-index: unset;
}